#mapContainer {
  height: 400px;
}

button{
  border: 2px solid #89F9FF;
  border-radius: 20px;
  background-color: #effeff;
  background-image: linear-gradient(to bottom,#effeff 0,#89F9FF 100%);
  padding: 0px 10px;
  margin: 0px 0px 0px 10px;
}

.green {
  background-color: green;
  border-radius: 20px;
}

.red {
  background-color: red;
  border-radius: 20px;
}




body {
  background-color: #f3efff;
  background: linear-gradient(to bottom,#f3efff 0,#a789ff 100%) 0 0 fixed;
  margin: 0;
  font-size: 20px;
  height: 100%;
  padding: auto;
}

div#display {
  margin: auto;
  /* background-color: #f3efff;
  background-image: linear-gradient(to bottom,#f3efff 0,#a789ff 100%); */
  width: 80%;
  height: 100%;
  margin-bottom: 20px;
  /* cursor: default; */
}

div.game, div.info {
  border: 2px solid #89F9FF;
  border-radius: 20px;
  margin: auto;
  display: inline-block;
  padding: 200px 0px;
  text-align: center;
  background-color: #effeff;
  background-image: linear-gradient(to bottom,#effeff 0,#89F9FF 100%);
  width: 45%;
  height: 80%;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 30px;
  text-transform: uppercase;
}

div.game {
  float: left;
}

div.info {
  float: right;
}

h1 {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}

ul {
  text-align: center;
  list-style: none;
}

/*
light colour - #effeff
dark colour - #89F9FF
*/
li {
  display: inline-block;
  cursor: pointer;
  padding: 30px 100px;
  background-color: #effeff;
  background-image: linear-gradient(to bottom,#effeff 0,#89F9FF 100%);
  margin: 0px 10px;
  border: 1px solid #effeff;
  border-radius: 20px;
}

#imageDiv {
    margin: 10px;
    float: right;
    cursor: default;
}
img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: 300px;
}
#text {
  position: relative;
  margin-top: 30px;
}
#description {
  /* background-color: white; */
  padding: 10px;
}


#question{
  margin: 60px 0px;
  text-align: center;
}

#answers{
  display: grid;
  text-align: center;
  margin: 5% 25% 15%;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  grid-column-gap: 90px;
  grid-row-gap: 40px;
}


#answer1{
  grid-column: 1;
  grid-row: 1;
}
#answer2{
  grid-column: 1;
  grid-row: 2;
}
#answer3{
  grid-column: 2;
  grid-row: 1;
}
#answer4{
  grid-column: 2;
  grid-row: 2;
}
