#mapContainer {
  height: 400px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

#imageDiv {

    float: right;
    max-height: 450px;
}
#text {
  position: relative;
  margin-top: 30px;
}
