#mapContainer {
  height: 400px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

#imageDiv {
  /* position: relative;
    left: 0px;
    right: 0px;
    max-height: 50px;
    width: 100%;
    height: 20%; */
    float: right;
    max-height: 450px;
}
#text {
  position: relative;
  margin-top: 30px;
}
